# Copy this to .env.local and fill in your values

# Backend base URL (leave as /api if using Vite proxy)
#VITE_API_URL=/api

# If your backend is remote, set the full URL:
VITE_API_URL=https://gateway-dot-cloudcomputing-491711.wn.r.appspot.com/api
